.container {
  border: 2px solid #fd2d01;
  padding: 10px;
  border-radius: 20px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: #fd2d01;
  margin-bottom: 15px;
}

.container-button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-btn.input {
  margin-top: 50px;
}

.container-btn {
  display: flex;
  justify-content: center;
}
.info-user-accueil {
  font-size: 20px;
  color: #fd2d01;
  text-decoration: underline;
  font-weight: bold;
}
.notSign {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-style: italic;
  border: none;
  background-color: transparent;
  color: #fd2d01;
}
.btn-accueil {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #fd2d01;
  padding: 5px 0px;
  font-weight: bold;
  color: #fd2d01;
  transition: all 200ms;
  background-color: #4e51664b;
}
.btn-accueil:hover {
  background-color: #fd2d01;
  color: white;
}
.stillNotSignyp:hover {
  cursor: pointer;
  color: #fd2d01;
  text-decoration: underline;
}
.errorMsg {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
  color: red;
}

.infobox {
  position: absolute;
  font-size: 15px;
  top: 90px;
  left: 115px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.interogationPoint {
  position: absolute;
}
