.nav-accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.logoAccueil {
  object-fit: cover;
  width: 400px;
  height: 150px;
  animation: scrollLogo 5s linear infinite;
}

@keyframes scrollLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
