.container-formpost {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #4e5166;
  max-width: 800px;
}

.formulaire-formpost {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.message-formpost {
  height: 100px;
}
