.postAndForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* background: linear-gradient(white, wheat); */
  background: linear-gradient(white, white);
}
.allPosts {
  display: flex;
  flex-direction: column-reverse;
  max-width: 800px;
  width: 100%;
}
